:root {
    --cor-0: #FFFFFF;
    --cor-1: #d4d4d4;
    --cor-2: #2ad9e6;
    --cor-3: #035ab1;
    --cor-4: #220230;
    --cor-5: #ff1717;
    --cor-6: #000000;
    --cor-7: #a78bfa; 
    --cor-8: #60a5fa;             
    --cor-9: #13131f;    
    --cor-10: #dedef3;   
    --cor-11: #7070a0;   
    --cor-12: #34d399;   
    --cor-13: #ffffff0f; 
    --cor-14: #5a5a88;   
    --cor-15: #4a4a70;
    --cor-16: #021e3d;
    --cor-17: #032a52;
    --cor-18: #1a4a7a;
    --cor-19: #4a9edd;
    --cor-20: #add3fa;
}