* {
    margin: 0px;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Inter','Arial';
}

p, h1, h2, h3 {
    margin: 0px;
    padding: 0px;
  }

ul {
    list-style: none;
    padding: 0px;
}

img {
    max-width: 100%;
    height: auto;
    display: block; 
}

[src$=".jpg"] {
    border-radius: 4px;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}