#habilidades { padding: 2rem; }

.habilidades-bg {
  margin-top: 150px;
  text-align: center;
  padding-bottom: 50px;
}

.habilidades-bg h2 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -1px;
  padding-bottom: 16px;
}

.habilidades-bg p {
  color: var(--cor-20);
  font-size: 16px;
  max-width: 560px;
  margin: 0 auto;
  line-height: 1.7;
  margin-bottom: 50px;
}

.descricao {
  font-size: 15px;
  color: var(--cor-19);
  line-height: 1.7;
  max-width: 540px;
  margin: 0 0 2.5rem;
}

.cabecalho-niveis {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.nivel {
  padding: 0.75rem 1.25rem;
  text-align: center;
}

.nivel-titulo {
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.nivel-titulo.b { color: var(--cor-8); }
.nivel-titulo.i { color: var(--cor-19); }
.nivel-titulo.a { color: var(--cor-2); }

.grade-habilidades {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 0.5px solid var(--cor-18);
  border-radius: 12px;
  overflow: hidden;
}

.coluna {
  border-right: 0.5px solid var(--cor-18);
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.coluna:last-child { border-right: none; }

.basico        { background: var(--cor-16); }
.intermediario { background: var(--cor-17); }
.avancado      { background: var(--cor-16); }

.habilidade {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.nome {
  font-size: 13px;
  font-weight: 500;
  color: var(--cor-10);
}

.categoria {
  font-size: 11px;
  color: var(--cor-19);
}

.barra-fundo {
  height: 2px;
  background: var(--cor-18);
  border-radius: 99px;
  overflow: hidden;
  margin-top: 2px;
}

.barra { height: 100%; border-radius: 99px; }
.barra-1 { width: 33%; background: var(--cor-8); }
.barra-2 { width: 66%; background: var(--cor-19); }
.barra-3 { width: 100%; background: var(--cor-2); }