.intro {
    margin-top: 150px;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    
}

.intro img {
    border-radius: 50%;
    background-color: #012b55;
}

.info {
    align-content: center;
}
.intro h1 {
    color: var(--cor-3);
    font-weight: 800;
    font-size: 54px;
}

.intro h2 {
    font-weight: 500;
    font-size: 28px;
    padding-bottom: 30px;
}

.intro p {
    padding-bottom: 30px;
    line-height: 20px;
}

.detalhe {
    color: var(--cor-3);
    font-weight: 800;
    display: inline-flex;
    align-items: baseline;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    width: 15ch;
    animation:
        digitando 8s steps(30, end) infinite,
        cursor 0.75s step-end infinite;
}

.botoes {
    display: flex;
    gap: 50px;
}

.botoes a {
    cursor: pointer;
    border: 1px solid var(--cor-2);
    padding: 10px 16px;
    border-radius: 8px;
    font-family: "JetBrains Mono", monospace;
    font-size: 14px;
}

.botoes a:hover {
    background-color: var(--cor-2);
    color: var(--cor-6);
}

.botao-projeto {
    background-color: var(--cor-2);
    color: var(--cor-6);
}

.botao-projeto:hover {
    background-color: var(--cor-6);
    color: var(--cor-0);
}

@keyframes digitando {
    0%   { width: 0; }
    40%  { width: 15ch; } /* termina de digitar em 40% do tempo */
    80%  { width: 15ch; } /* fica parado até 80% — aqui é a pausa */
    81%  { width: 0; }    /* apaga instantaneamente */
    100% { width: 0; }
}

@keyframes cursor {
  0%, 100% { border-color: transparent; }
    50%    { border-color: currentColor; }
}