* {
    margin: 0px;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Inter','Arial';
}

p, h1, h2, h3 {
    margin: 0px;
    padding: 0px;
  }

ul {
    list-style: none;
    padding: 0px;
}

img {
    max-width: 100%;
    height: auto;
    display: block; 
}

[src$=".jpg"] {
    border-radius: 4px;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    z-index: 1000;
    box-sizing: border-box;
    padding: 20px 50px;
}
.menu {
    display: flex;
    gap: 40px;
}

.menu a {
    display: inline-block;
    position: relative;
    font-size: 16px;
}

.menu a:after {
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background-color: #E0115F ;
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
}

.menu a:hover:after {
    width: 100%;
}

.menu a:hover {
    color: #E0115F;
}
.logo-menu a{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(
    90deg,#3BF1FF,#1A8CFF,#9B5CFC,#5C2D91
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.intro h1 {
    color: #ff1717;
}